.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.facehome{
  border-radius: 50%;
  height:1000pt;
  float: auto;
}

.project-image img{
height:200pt;
width: auto;
float: center;
padding-left: 100pt;
}

.project-title{
  font-size: 10pt;
}

.face{
  height:50pt;
}

.header{
  text-align:  left;
}
.header h1 {
    display: inline-block;
}

.header Button {
    float: right;
}

/* .chair1{
  height:200pt;
  padding-top: 200pt;
  padding-left: 20pt;

}
.chair2{
  height:200pt;
}
.chair3{
  height:200pt;
}

.kimono{
  height:200pt;
}
.long{
  height:200pt;

}
.face{
  height:200pt;
}
.squid{
  height:200pt;
}
.rin{
  height:200pt;
}
.daniel{
  height:200pt;
} */